<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule .* - [E=HTTP_IF_MODIFIED_SINCE:%{HTTP:If-Modified-Since}]
RewriteRule .* - [E=HTTP_IF_NONE_MATCH:%{HTTP:If-None-Match}]
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteRule ^css\/(.+)$ /turbine.php?files=$1 [L]
RewriteCond $1 !^(favicon\.ico|turbine\.php|index\.php|imgs)
RewriteRule ^(.*)$ /index.php?/$1 [L]
</IfModule>
